option {
    font-size: 15px;
    padding: 3px;
    margin-bottom: 40px;
}

.severityLevels {
    width: 100%;
    font-size: 15px;
    border-radius: 0.3rem;
    background-color: #f2f2f2;
    /* float:left; */
    margin-bottom: 20px;
}

.projectNames {
    width: 100%;
    font-size: 15px;
    border-radius: 0.3rem;
    background-color: #f2f2f2;
    /* float:left; */
    margin-bottom: 20px;
}

label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
    /* padding-right: 30px; */
    font-weight: lighter;
    font-family: Tahoma;
    text-align: left;
}

input[name="inputType"] {
    width: 99%;
    font-size: 15px;
    border-radius: 0.3rem;
    background-color: #f2f2f2;
    /* float:left; */
    margin-bottom: 20px;
}

input[name="inputDesc"] {
    width: 99%;
    height: 50px;
    font-size: 15px;
    border-radius: 0.3rem;
    background-color: #f2f2f2;
    margin-bottom: 20px;
    /* padding:30px; */
}

input[name="linkcommit"] {
    width: 99%;
    font-size: 15px;
    border-radius: 0.3rem;
    background-color: #f2f2f2;
    /* float:left; */
}

#btnReport {
    font-size: 15px;
    font-family: Tahoma;
    color: white;
    /* -webkit-text-stroke: 0.8px black; */
    background-color: #006BD6;
    border: none;
    /* border-radius: 10%; */
    /* padding: 7px; */
    margin-top: 30px;
    /* margin-left: -60px; */
    width: 50%;
    border-radius: 0.3rem;
    align-self: center;
}

#btnReport:hover {
    background-color: #1F2937;
}

.line {
    width: 500%;
    border-top: 1px solid black;
}

.background {
    /* background-color: #F3F4F6; */
    background-image: linear-gradient(to bottom right, #21648a, #F3F4F6);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-content: space-around;
}

.newbugform {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    /* align-content: center; */
    /* padding: 50px; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: column;
    flex-direction: column;
    justify-content: center;
}