.project {
    height: 150px;
    width: 300px;
    background-color: #fff;
    margin: 10px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 10px;
    border-radius: 5%;
    border: 0.5px #9CA3AF;
    box-shadow: 2px 3px #9CA3AF;
}

.project .top {
    /* height: 20px;
    width: 300px; */
    padding-left: 7px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    text-align: baseline;
    border-left: 3px solid orange;
    /* display:inline; */
}

.MPs {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-flex;
    column-gap: 5px;
}

.pictures {
    display: flex;
}

.text {
    text-align: left;
}

p.projectTitle {
    font-size: 20px;
    font-weight: bold;
}

p.bugs {
    color: #6B7280;
    font-size: 13px;
}

select {
    float: right;
}

option {
    height: 15px;
    font-size: 10px;
}

.members {
    color: #6B7280;
}

.createDate {
    color: #6B7280;
    padding-left: 5px;
    padding-top: 5px;
}

/* -------------------------------------------------------- */
/* .menu-nav {
    display: flex;
    justify-content: space-between;
} */

/* .three-dots:after {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    color: #6B7280;
    content: '\2807';
    font-size: 15px;
    padding: 0 5px;
}

select::-ms-expand {
    display: none;
    /* Remove default arrow in Internet Explorer 10 and 11 */
/* }

.dropdown {
    position: inherit;
    /* right: 10px; */
    /* background-color: #fff;
    outline: #1F2937;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s, max-height 5s;
}

.dropdown-container:focus {
    outline: none;
}

.dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 50vh;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
} */ 