.navbar {
  font-size: 20px;
  background-color:#1F2937;
  border-bottom: 5px solid whitesmoke;
  width: 250px;
  height: 790px;
  margin-right: 20px;
}
  
.containerNavbarButtons {
  margin-top: 20px;
}

.containerLogo {
  color: white;
  margin-top: 25px;
  margin-bottom: 50px;
}
  
.navbarButtons {
  text-align: left;
  padding: 10px 25px 10px 30px;
  width: 220px;
  margin-bottom: 20px;
  border: 0px;
  outline: none;
  font-family: 'Tahoma';
  font-size: 19px;
  background-color: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.156);
  border-radius: 0.5rem;
  color: white;
}
  
.navbarButtons:hover{
  background-color: #111827;
  font-size: 115%;
}

.containerDayNightMode{
  margin-top: 290px;
}

.dayNightMode{
  color: white;
  background-color: black;
  padding: 15px;
  border-radius: 0.1in;
  font-size: 20px;
}

.dayNightMode:hover{
  color: black;
  font-size: 125%;
  background-color: white;
}